<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Convert text into natural-sounding audio instantly. A clean and fast text to audiobook web application with playback controls and speed adjustment.">

    <meta name="keywords" content="text to audio, text to speech, audiobook generator, flask project, text to audiobook">

    <meta name="Vritti Koshe" content="koshevritti@gmail.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome | Text to Audiobook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>
<body>

<div class="start-container">
    <h1>WELCOME TO READIFY📚🎧</h1>
    <p>Turn your text into a beautiful listening experience</p>
    <a href="/convert">
        <button class="start-btn">🚀 Get Started</button>
    </a>
</div>

</body>
</html>
